.cart {
  padding-top: 5px;
  margin-right: 100px;
  border-style: solid;
}

.topRow{
  /* flex-direction: row; */
  border-style: solid;
}

.whyLabel {
  border-style: solid;
  padding: 10px;
}

/* Middle Row */

.column1 {
  border-style: solid;
  width: max-content;
}

.column2 {
  border-style: solid;
}

.middleRow {
  border-style: solid;
}

.product {
  padding-bottom: 50px;
}
