.productRow {
  margin-top: 100px;
}

.productTitle {
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.productDescription {
  padding-top: 0px;
  margin-bottom: 0px;
}

.addToCart {
  padding-top: 10px;
}

.footer {
  height: 100px;
  margin-top: 100px;
}